/* FUNDO */
.root {
    -fx-background-image: url("/imagens/emprestimo.png");
    -fx-background-size: cover;

}

/* CONTAINER PRINCIPAL */
.container-principal {
    -fx-padding: 40;
}

/* FORMULÁRIO (lado esquerdo) */
.formulario {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20;
    -fx-padding: 30;
    -fx-spacing: 15;
}

/* CAMPOS */
.campo {
    -fx-spacing: 5;
}

/* LABELS */
.label {
    -fx-text-fill: #2C1B12;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

/* TÍTULO */
.titulo {
    -fx-text-fill: #2C1B12;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* SUBTÍTULO */
.subtitulo {
    -fx-text-fill: #fffdfd;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* INPUTS */
.input {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 8;
    -fx-border-color: #2C1B12;
}

/* FOCO NOS INPUTS */
.input:focused {
    -fx-border-color: rgba(0, 255, 188, 0.8);
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 188, 0.6), 10, 0, 0, 0);
}

/* LISTA (lado direito) */
.lista-container {
    -fx-spacing: 10;
}

/* LISTVIEW */
.lista-livros {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5;
}

/* ITEM SELECIONADO */
.list-cell:filled:selected {
    -fx-background-color: #2C1B12;
    -fx-text-fill: white;
}

/* BOTÃO */
.button-emprestimo {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #2C1B12;
    -fx-background-radius: 20;
    -fx-min-width: 180;
    -fx-min-height: 40;
    -fx-cursor: hand;
}

/* HOVER BOTÃO */
.button-emprestimo:hover {
    -fx-text-fill: rgba(0, 255, 188, 0.8);
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 188, 0.6), 20, 0, 0, 10);
}