.root{
    -fx-background-image: url('/imagens/menu.jpeg');
    -fx-backgraund-size: cover;
}

.titulo {
    -fx-text-fill: white;
    -fx-text-size: 28;
}

.panel-grid {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 20;
    -fx-hgap: 50;
    -fx-vgap: 10;
}

.button-reserva {
    -fx-text-size: 14;
    -fx-texte-fill: white;
    -fx-background-color: #2c1b12;
    -fx-background-radius: 20;
    -fx-min-width: 125;
    -fx-min-height: 120;
    -fx-cursor: hand;
}

.button-reserva:hover {
    -fx-text-fill: rgba(0, 255, 188, 0.6);
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 188, 0.6), 20,0,0,10);
}

.button-membro {
    -fx-text-size: 14;
    -fx-text-fill: white;
    -fx-background-color: #2c1b12;
    -fx-background-radius: 20;
    -fx-min-width: 125;
    -fx-min-height: 120;
    -fx-cursor: hand;
}

.button-membro:hover {
    -fx-text-fill: rgba(0, 255, 188, 0.6);
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 188, 0.6), 20,0,0,10);
}

.button-acervo {
    -fx-text-size: 14;
    -fx-text-fill: white;
    -fx-background-color: #2c1b12;
    -fx-background-radius: 20;
    -fx-min-width: 125;
    -fx-min-height: 120;
    -fx-cursor: hand;
}

.button-acervo:hover {
    -fx-text-fill: rgba(0, 255, 188, 0.6);
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 188, 0.6), 20,0,0,10);
}

.button-emprestimo {
    -fx-text-size: 14;
    -fx-text-fill: white;
    -fx-background-color: #2C1B12;
    -fx-background-radius: 20;
    -fx-min-width: 120;
    -fx-min-height: 120;
    -fx-cursor: hand;
}

.button-emprestimo:hover {
    -fx-text-fill: rgba(0, 255, 188, 0.6);
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 188, 0.6), 20,0,0,10);
}